*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

section.img{
    width: 100%;
    height: 100%;
    background-image: url(img/leandro.JPG);
    /* background-image: linear-gradient(to bottom, red, yellow) */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s;
}

.overlay:hover{
    opacity: 0.6;
}